*{
	font-family: "verdana", sans-serif; 
		font-size: 20px;

}
body
{
	background-color:white;
}
h4 + img{
	height: 200px;
	border-width: 200px;
	border-radius: 150px;
}
#color {
	background-color: none;

}
h2.boot{
	text-transform: uppercase;
		margin: 0;
}

#html-101{

	text-align: left;
	padding-inline: 3rem;
	letter-spacing: 5px;
}


p.solid {border-style: solid;	
	border-width: 1px;
	margin: 0;
	border-color: navy;
}
p.boot{
	margin: 0;
	background-color: lightgreen;
}

h3.yellow{
	color: yellow;
}
h3.orange{
	color: orange;

}

h3.red{
	color: red;

}